.header {
    background-color: cadetblue;
    grid-area: h;
}
.header img {
    width: 50px;
    background-color: cadetblue;
}
.login_block{
    float: right;
    padding: 5px;

}
.login_block a{
    color: black;
    font-weight: bold;
    font-size: larger;
}